.naco
.naco310
.DS_Store
/assignment3/.DS_Store
/assignment3/si-exercises/.DS_Store
/assignment3/si-exercises/exercise_boids/.DS_Store
/assignment3/si-exercises/exercise_pso/.DS_Store
/assignment3/si-exercises/exercise_boids/__pycache__
/assignment3/si-exercises/exercise_boids/.mypycache/
/assignment4/.mypy_cache
/assignment4/__pycache__
/project/__pycache__
/project/.ipynb_checkpoints